.nav__items{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
  }

  .item__nav{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
  }